<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gestaller">

<uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <application
        android:allowBackup="true"
        android:label="Gestaller"
        android:icon="@mipmap/ic_logo_engranaje"
        android:roundIcon="@mipmap/ic_logo_engranaje_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gestaller">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.gestaller.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- Pantalla de inicio (Login) -->
        <activity
            android:name=".ui.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Pantalla principal (Propietario) -->
        <activity android:name=".ui.HomeActivity" />

        <!-- Pantalla principal (Empleado) -->
        <activity android:name=".ui.EmployeeHomeActivity" />

        <!-- 📋 Listas -->
        <activity android:name=".ui.ClientListActivity" />
        <activity android:name=".ui.WorkOrderDetailActivity" />
        <activity android:name=".ui.VehicleListActivity" />
        <activity android:name=".ui.ServiceTemplateListActivity" />
        <activity android:name=".ui.WorkOrderListActivity" />

        <!-- ➕ Formularios -->
        <activity android:name=".ui.AddClientActivity" />
        <activity android:name=".ui.AddVehicleActivity" />
        <activity android:name=".ui.AddServiceTemplateActivity" />
        <activity android:name=".ui.AddWorkOrderActivity" />

        <!-- 🔹 MainActivity (para testear base de datos Room) -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />

    </application>
</manifest>
