<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gestaller">

    <application
        android:name=".GestionModos"
        android:allowBackup="true"
        android:label="Gestaller"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gestaller">


    <!-- Pantalla de inicio (Login) -->
        <activity
            android:name=".ui.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Pantalla principal (Propietario) -->
        <activity android:name=".ui.HomeActivity" />

        <!-- Pantalla principal (Empleado) -->
        <activity android:name=".ui.EmployeeHomeActivity" />

        <!-- 📋 Listas -->
        <activity android:name=".ui.ClientListActivity" />
        <activity android:name=".ui.WorkOrderDetailActivity" />
        <activity android:name=".ui.VehicleListActivity" />
        <activity android:name=".ui.ServiceTemplateListActivity" />
        <activity android:name=".ui.WorkOrderListActivity" />

        <!-- ➕ Formularios -->
        <activity android:name=".ui.AddClientActivity" />
        <activity android:name=".ui.AddVehicleActivity" />
        <activity android:name=".ui.AddServiceTemplateActivity" />
        <activity android:name=".ui.AddWorkOrderActivity" />

        <!-- 🔹 MainActivity (para testear base de datos Room) -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />



    </application>
</manifest>
